{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ restaurant.name }}</h1>

    <ul>
        <li>
            <a href="{{ path('restaurant_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('restaurant_edit', { 'id': restaurant.id }) }}">Modifier ce restaurant</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer ce restaurant">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
