{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ restaurant.name }}</h1>

    <h3>Horaires d'ouverture</h3>
    <table>
        <thead>
            <tr>
                <td>Jour</td>
                <td>Heures</td>
            </tr>
        </thead>
        <tbody>
        {% for openingHour in openingHours %}
            <tr>
                <td>{{ openingHour.weekday }}</td>
                <td>{{ openingHour.hours }}</td>
                <td>
                    <a href="{{ path('openinghour_edit', { 'id': openingHour.id }) }}">Modifier cet horaire</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('restaurant_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('restaurant_edit', { 'id': restaurant.id }) }}">Modifier ce restaurant</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer ce restaurant">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
